.note-wrapper{
  position: relative;
  top: 2%;
  left: 2%; 

  width: 220px;  
  max-height: 350px;
  /* border-radius: 20%; 
  border: 1px solid white; */

  display: grid;
  grid-template-rows: 50px 1fr 100px 50px;
  grid-template-areas: "note-title"
                       "todo-list"
                       "add-todo-button"
                       "note-footer";
} 

.note-title{grid-area: note-title;}
.todo-list{grid-area: todo-list;}
.add-todo-button{grid-area: add-todo-button}
.note-footer{grid-area: note-footer;}  
